<%- partial('_partial/search') %>
<br>
<div style="position: relative; padding-top: 56.25%;">
  <iframe
    src="https://customer-xb03s0ye8v55kzrd.cloudflarestream.com/4ad817b1776e75922614ad8bb51855bc/iframe"
    style="border: none; position: absolute; top: 0; left: 0; height: 100%; width: 100%;"
    allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture;"
    allowfullscreen="true"
  ></iframe>
</div>
