<ul>
  <li><a class="icon" href="mailto:?subject=<%= page.title %>&body=Check out this article: <%= page.permalink %>"><i
        class="fa-solid fa-envelope <%= icon_class_name %>" aria-hidden="true"></i></a></li>
</ul>