name: Deploy Site

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths-ignore:
      - 'site/public/**'
      - '.github/workflows/**'
      
permissions: write-all

env:
  GITHUB_TOKEN: ${{ secrets.GIT_ACCESS_TOKEN }}
  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        token: ${{ env.GITHUB_TOKEN }}
    - uses: actions/setup-node@v3
      with:
        node-version: 'latest'
    - name: Build site
      run: |
        cd site
        npm install
        node_modules/hexo/bin/hexo deploy
      env:
        HEXO_TOKEN: ${{ secrets.GIT_ACCESS_TOKEN }}
