name: Generate Site

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths-ignore:
      - 'site/public/**'
      - '.github/workflows/**'
      
permissions: write-all

env:
  GITHUB_TOKEN: ${{ secrets.GIT_ACCESS_TOKEN }}
  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        token: ${{ env.GITHUB_TOKEN }}
    - uses: actions/setup-node@v3
      with:
        node-version: 'latest'
    - name: Build site
      run: |
        git config --global user.email "me@anthonyrussano.com"
        git config --global user.name "Anthony Russano"
        git submodule init
        git submodule update
        cd public
        git switch main
        git pull
        cd ..
        cd site
        npm install
        node_modules/hexo/bin/hexo gen
        cd ..
        cd public
        git add .
        git commit -m "workflow publish"
        git push
        cd ..
        git add .
        git commit -m "workflow deploy"
        git push
#     - name: commit static assets
#       id: commits
#       uses: EndBug/add-and-commit@v9
#       with:
#         default_author: github_actions
#         message: 'static assets auto generated'
#         pull: '--all'
